Source: gz-plugin4
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: extra
Build-Depends: cmake,
               debhelper (>= 13),
               doxygen,
               libgz-cmake4-dev,
               libgz-utils3-cli-dev,
               libgz-utils3-dev,
               python3,
               ruby-ronn
Vcs-Browser: https://github.com/gazebo-release/gz-plugin4-release
Vcs-Git: https://github.com/gazebosim/gz-plugin.git
Standards-Version: 4.5.1
Homepage: https://github.com/gazebosim/gz-plugin

Package: libgz-plugin4
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: gz-plugin4-cli
Multi-Arch: same
Description: Gazebo Plugin Library - Shared library
 Gazebo Plugin is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Package contains the shared library

Package: libgz-plugin4-dev
Architecture: any
Section: libdevel
Depends: libgz-plugin4 (= ${binary:Version}),
         libgz-cmake4-dev,
         libgz-utils3-cli-dev,
         libgz-utils3-dev,
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Plugin Library - Development files
 Gazebo Plugin is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Package contains the development files

Package: gz-plugin4-cli
Architecture: any
Depends: libgz-plugin4 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Multi-Arch: no
Description: Collection of useful code used by robotics apps - CLI tool
 Gazebo Plugin is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Gazebo plugin client tool

Package: libgz-plugin4-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
     libgz-plugin4 (= ${binary:Version}),
     ${misc:Depends}
Multi-Arch: same
Description: Gazebo Plugin Library - Debugging symbols
 Gazebo Plugin is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Package contains debugging symbols
