Source: ignition-plugin2
Standards-Version: 3.9.4
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: extra
Build-Depends: cmake,
               debhelper (>= 7.0.50~),
               doxygen,
               libignition-cmake2-dev,
               libignition-utils1-cli-dev,
               libignition-utils1-dev,
               python,
               ruby-ronn
Vcs-Browser: https://github.com/ignition-release/ign-plugin2-release
Vcs-Git: https://github.com/ignition-release/ign-plugin2-release
Homepage: https://github.com/ignition-release/ign-plugin2

Package: libignition-plugin2
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics Plugin Library - Shared library

Package: libignition-plugin2-dev
Architecture: any
Section: libdevel
Depends: libignition-plugin2 (= ${binary:Version}),
         libignition-cmake2-dev,
         libignition-utils1-cli-dev,
         libignition-utils1-dev,
         ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics Plugin Library - Development files

Package: libignition-plugin2-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
     libignition-plugin2 (= ${binary:Version}),
     ${misc:Depends}
Multi-Arch: same
Description: Ignition Robotics Plugin Library - Debugging symbols
